@media (max-width: 1440px) {
  .header__bg {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

@media(max-width: 1300px) {
  .about__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about_img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .plan__inner-img,
  .plan__3d-img {
    width: 100%;
  }

  .plan_3d {
    flex-wrap: wrap;
  }

  .gallery__slider {
    justify-content: center;
  }

  .gallery__img {
    width: 100%;
  }

  .video__inner {
    width: 100%;
  }

  .video-gallery {
    width: 100%;
  }
}

@media(max-width: 641px) {
  .about__text {
    padding-right: 0;
  }

  .gallery__slider-img {
    padding-right: 0;
  }
}